@mixin symbolBtn($fontSize, $clr) {
  background-color: transparent;
  color: $clr;
  font-size: $fontSize;

  outline: none;
  border: none;
  cursor: pointer;
}

@mixin dropButtonStyle() {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
