:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --fontPrimary: rgba(248, 248, 248, 1);
  --fontSecondary: rgba(126, 131, 140, 1);
}

body {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
